*{
    padding: 0;
    margin :0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --blue: #01266c;
    --gold: #f7c505;
    --yellow: #fbdc74;
    --skyblue: #0071fb;
    --black: #1a1a1a;
  }
  
  /* body {
    background-color: var(--black);
    background: linear-gradient(90deg, var(--black) 20px, transparent 1%) 50%,
      linear-gradient(var(--black) 20px, transparent 1%) 50%, #222;
    background-size: 22px 22px;
    background-attachment: fixed;
    color: #fff;
    font-family: "Barlow Semi Condensed", sans-serif;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
  } */
  
  .cursor {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: white;
    mix-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    pointer-events: none;
  }
  
  .button {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 999px;
    background-color: white;
    color: var(--black);
    font-family: inherit;
    border: 0;
    padding: 1em 3em;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    font-size: 24px;
    line-height: 1;
    margin-top: 3rem;
    margin-bottom: 6rem;
    cursor: pointer;
    transition: color 0.25s ease, background-color 0.25s ease;
    &:hover {
      background-color: var(--skyblue);
      color: #fff;
    }
  }
  
  
.hero{
    color: white;
}


.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    
}

.nav{
    color: white;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 20px;


}

body{
    background-color: black;
    width: 100%;
    
}
.hero{
    height:100vh;
    background-color: black;
    margin:1;
}

.heading{
    margin-top: 80px;
}

.heading h1{
    font-size: 12vw;
    opacity: 0.6;
    line-height: 0.8;
}

.hing1{
    margin-left: 45px;
    
}
.hing2{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
margin-left: 120px;
}

.herofooter{
    position: absolute;
    bottom: 3%;
    right:0%;
    /* left: 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
   

}

.herofooter a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2vw;

}

.main2{
    background-color: black;
    color: #fff;
     margin-right: 55px;
    margin-left: 15px;
    margin-top: 100px;

}

.ele{
    padding-top:20px;
    margin-top: 60px;
    border-top: 1.2px solid #c3e2c2; 
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.ele h1{
    font-size: 8vw;
    opacity: 0.6;
}

.about{
    display: flex;
    align-items: center;
    padding: 10vw 10vw;
    padding-left: 40vw;
    gap: 25px;
    opacity: 0.8;
    line-height: 1.7;
}

.aboutme{
    color: white;
    width: 25rem;
    
}
.aboutme p{
    margin-bottom: 30px;
}
.about img{
    height: 250px;
    margin-right: 50px;
}
.about a{
    text-decoration: none;
    border: 1.2px solid white;
    padding: 5px;
    border-radius: 25px;
    color: #c3e2c2;
    
    
}

.subscribe {
    color: #fff;
    padding: 20px 30px;
    padding-bottom: 7vw;
    background-color: black;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: azure;
    padding: 14px 14px;

}

.footer a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    opacity: 0.8;
    font-size: 12px;

    /* font-weight: 500; */
}

.leftf{
    display: flex;
   gap: 20px;
   
}

/* .ri-arrow-right-line{
    padding-left: 25px;
} */